body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Changed width to 100% */
    max-width: 800px; /* Optional: To limit the width on very large screens */
    height: calc(100% - 40px); /* Changed height to leave space at the bottom */
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40px; /* Add margin to create space at the bottom */
}

.back-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.pizza-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.pizza-item img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 10px;
}

.pizza-details {
    flex-grow: 1;
}

.pizza-details h3 {
    margin: 0;
    font-size: 16px;
}

.pizza-details .edit {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.pizza-details .price {
    font-size: 14px;
    margin-top: 5px;
}

.quantity-control {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.quantity-button {
    background-color: #f5f5f5;
    border: none;
    font-size: 18px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.quantity {
    margin: 0 10px;
    font-size: 16px;
}

.remove-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #ff4d4d;
}

.promo-code {
    display: flex;
    margin-top: 40px; /* Increase margin to move it down */
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Add rounded corners */
    overflow: hidden; /* Ensures rounded corners are applied to the child elements */
}

.promo-code input {
    flex-grow: 1;
    padding: 10px;
    border: none; /* Remove border */
    border-radius: 10px 0 0 10px; /* Adjust rounded corners */
    outline: none;
    box-shadow: none; /* Remove default box shadow */
}

.apply-button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0; /* Adjust rounded corners */
    box-shadow: none; /* Remove default box shadow */
}

.total {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: right;
}

.total-price {
    font-weight: bold;
}

.checkout-button {
    width: 50%; /* Make the button full width */
    padding: 15px; /* Adjust padding */
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px; /* Add rounded corners */
    font-size: 16px;
    margin-top: 20px; /* Add margin to separate from total */
    display: flex;
    justify-content: center;
    align-items: center;
}
